@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Regular.ttf') format('truetype');
}

@import url('//fonts.googleapis.com/css?family=Nunito%3Anormal%26subset%3D%7CNunito%3Anormal%26subset%3D%7CNunito%3A%26subset%3D%7CNunito%3A%26subset%3D%7CNunito%3Anormal%26subset%3D%7CNunito+Sans%3A%26subset%3D');
@import url('https://fonts.googleapis.com/css?family=Roboto%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CRoboto+Slab%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CNunito%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CNunito+Sans%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic&#038;ver=5.3.4');

@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@1&display=swap');

body {
    background-color: #18191a;
}

* {
    font-family: 'Black Ops One', cursive;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Roboto Mono', monospace;
    color: #AAAAAA;
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
}

.active {
    border-bottom: 2px solid #fff;
    padding-bottom: 10px;
}

section#header {
    grid-area: header;
    background-color: #1b1b1b;
    height: 60px;
    margin-top: 0px;
    position: sticky;
    top:0;
    left: 0;
    z-index: 1;
    font-family: inherit;
}

section#header nav {
    padding-top: -0px;
}

section#header ul {
    font-weight: bold;
}

section#header a {
    text-decoration: none;
    color: #AAAAAA;
    font-size: 10pt;
}

section{
    height: 600px;
    overflow: hidden;
}

section#home {
    grid-area: about;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -30px;
    margin-bottom: 15px;
}

.titulo-principal{
    /* max-width: 480px; */
    text-align: center;
    margin: 60px auto;
    font-family:'Courier New', Courier, monospace;
    font-size: 70pt;
    font-weight: bold;
    /* border: solid 5px red; */
    color: black;
    text-shadow: 3px 5px 4px;
     /* rgba(145, 0, 0, 0.1); */
}
.titulo-principal:after{
 content: '|';
 margin-left: 5px;
 opacity: 1;
 animation: pisca .7s infinite;
}
/* Animação aplicada ao content referente a classe *.titulo-principal* resultando num efeito de cursor piscando. */

@keyframes pisca{
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}



.line {
    position: relative;
    width: 0px;
    margin: auto;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    font-size: 80px;
    line-height: bold;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 900;
    color: white;
    box-shadow: 5px 5px 50px rgba(0,0,0,0.9);

}
/*Animação*/
.anim-typewriter {
    animation: typewriter 5s steps(22) 500ms infinite,
    blinkTextCursor 500ms steps(22) infinite normal;
}
@keyframes typewriter {
    0% {
          width: 0px;
    }
    10% {
          width: 0px;
    }
    25% {
          width: 100%;
    }
    75% {
          width: 100%;
    }
    90% {
          width: 0px;
    }
    100% {
          width: 0px;
    }
}
@keyframes blinkTextCursor {
    from {
          border-right-color: rgba(255, 255, 255, 0.75);
    }
    to {
          border-right-color: transparent;
    }
}


[left] {
    display: block;
    position: fixed;
    z-index: 1000;
    left: 2%;
    bottom: 2%;
    font-weight: bold;
}

[right1] {
    transform: rotate(90deg); right: -40px; bottom: 190px; display: block; position: fixed; font-weight: bold;
}

[right2] {
    display: block;
    position: fixed;
    width: 65px;
    right: 5px;
    bottom: 25px;
}

section#about {
    grid-area: about;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: rgba(145, 0, 0, 0.1); */
    /* padding-top: 50px; */
    /* color:rgba(145, 0, 0, 0.1) !important; */
    background: rgba(145, 0, 0, 0.1);
}

.aPai {
    display: grid;
    height: 65%;
    grid-template-columns: 100px repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px 10px; /* Separa (linhas colunas) */
    width: 80%;
}

section#about div div {
    /* border: 5px solid rgba(255, 255, 255, 0.1); */
    /* background-color: rgba(255, 255, 255, 0.1); */
    /* background-color: rgb(33, 33, 33); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.aFilho1 {
    grid-area: 1 / 1 / 4 / 2;
    /* justify-content: flex-end !important; */
    /* transform: rotate(270deg); */
    /* width: 40px; */
    /* padding-bottom: 50px; */
    writing-mode: vertical-lr;
    border: 5px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.5);
}

.aFilho1 h1 {
    font-size: 25pt;
}

.aFilho2 {
    /* row-start column-start row-end column-end */
    grid-area: 1 / 2 / 4 / 5;
    padding: 0px 15px 0px 15px;
    justify-content: center;
    align-items: flex-start !important;
    background-color: rgba(255, 255, 255, 0.1);
    border: solid 5px rgba(255, 255, 255, 0.1);
    border: 5px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.5);
    background: rgba(0, 0, 0, 0.5) !important;
}

.aFilho2 p {
    /* color: black; */
    font-size: 16pt;
    font-weight: bold;
    text-align: justify;
}

.aFilho2 ul {
    overflow: auto;
    padding-right: 10px;
    margin-bottom: 0px;
    padding-left: 10px;
    list-style-type: square;
}

.imgAbout {
    position: absolute;
    z-index: -1000;
    height: 100%;
    width: 100%;
    display: table;
    width: 100%;
    padding: 100px 0;
    color: white;
    background: url('../imgs/about.jpg') no-repeat bottom center scroll;
    background-position: 25% 45%;
    background-size: cover;
    opacity: 50%;
}

/***** Skills ******/ 
section#skills {
    grid-area: skills;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: #1e1e1e; */
    padding: 0px 50px;
}

.sPai {
    display: grid;
    height: 70%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 10px 10px; /* Separa (linhas colunas) */
    /* width: 80%; */
    overflow: auto;
    overflow-x: hidden;
}

section#skills > div > div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

section#skills > div > div > div {
    /* border: 1px solid rgba(255, 255, 255, 0.1); */
    border-radius: 0%;
    background-color: black;
    background-color: rgb(33, 33, 33);
    color: #AAAAAA;
    border: 5px solid rgba(145, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 130px;
    font-size: 14pt;
    margin: 15px;
    border: 5px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(145, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.1);
}

.sFilho1 {
    /* row-start column-start row-end column-end */
    grid-area: 1 / 1 / 2 / 4;
    /* justify-self: center; */
    flex-wrap: wrap;
}

.sFilho2 {
    grid-area: 2 / 1 / 3 / 4;
    flex-wrap: wrap;
}

/***** Skills_End *****/

section#voluntary {
    /* grid-area: skills; */
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 0px 50px; */
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    background: rgba(145, 0, 0, 0.1);
}

.wPai {
    /* display: grid; */
    height: 700px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 10px 10px; /* Separa (linhas colunas) */
    /* width: 80%; */
    overflow: auto;
    overflow-x: hidden;
    /* margin-bottom: 60px; */
    margin-top: 30px;
}





.divHeader {
    margin: 24px 0 24px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.spanHeader {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.4rem;
}


#exemplo:hover {
    transition-property: width;
    transition-duration: 2s;
    transition-timing-function: ease; /* Lento - rapido - lento */
    transition-timing-function: ease-in; /* Inicia lenta */
    transition-timing-function: ease-out; /* Finaliza lenta */
    transition-timing-function: ease-in-out; /* Inicia lenta e termina lenta */
    transition-timing-function: linear; /* Mantem a mesma velocidade */
    transition-delay: 3s; /* Tempo de espera para iniciar a transição */
    transition: width 2s linear 1s; /* O mesmo das linhas anteriores */
    transition: width 2s linear 1s, height 2s ease; /* Mais de uma propriedade */
    transition: all 2s linear; /* Todas as propriedades */
}

#logo {
    text-shadow: 5px 5px 50px rgba(230, 5, 5, 0.9);
    color: white;
    transition: all 1s ease-in 0s;
    font-weight: 900;
    height: 50px;
    /* padding-left: 500px; */
}

a {
    transition: all 0s ease-in 0s;
}

a:hover {
    color: white !important;
}

[rightLeft] {

    animation-name: kfRightLeft;
    animation-duration: 5s;
}

@keyframes kfRightLeft {
    from {
        padding-left: 100%;
    }
    to {}
}

[upDown] {
    
    animation-name: kfUpDown;
    animation-duration: 5s;
}

@keyframes kfUpDown {
    from {
        padding-bottom: 100%;
    }
    to {}
}